<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Before Call Chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/global-chat.css" />

  <script src="https://unpkg.com/peerjs@1.3.2/dist/peerjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.3.2/peerjs.min.js.map"></script>
  <script src="https://cdn.socket.io/4.1.2/socket.io.min.js"></script>
  <script>
    const ROOMID = "<%= roomId %>";
  </script>

</head>

<body>
  <div class="main">
    <div class="_header">
      <h6>Chat</h6>
    </div>
    <div class="chat_area">
    </div>
    <div class="input_message_">
      <form id="send-form">
        <input type="text" id="chat_message" placeholder="Type message here.." />
        <button type="submit" style="background-color: transparent;border: 0;" ><i class="fa fa-send" style="font-size:16p; color: seashell;"></i></button>
      </form>
    </div>
    <a href="#" id="my-link"> Join Meeting </a>
  </div>

  <script>
    var room_url = ROOMID;
    var url = window.location.href;
    text1 = url.substring(0, url.indexOf("/before_call"));
    text2 = room_url.substring(0, room_url.lastIndexOf('a'));
    room_url = text1 + "/" + text2;
    document.getElementById('my-link').setAttribute("href", room_url);
  </script>
  <script src="/beforemeeting.js"></script>
</body>

</html>